*{
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #000;
}

body{
    background-color: #000;
    font: normal 14px sans-serif;
}

img{
    
}

#video-placeholder{
    z-index : 1;
}

#tv{  width: 80%;
    margin: 0 auto;
}

table {
  width: 80%;
  margin: 0 auto;
  background-color: blue;
}

@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

@media (max-width: 1200px) {

    #video-placeholder{
        max-width: 100%;
        
    }

    #controls{
        margin-right: 0;
    }

    #bsaHolder{ display:none;}
}

#overlay {position: absolute; z-index:100;}
